{
  "env": {
    "browser": true,
    "commonjs": true,
    "es2020": true,
    "jest": true
  },
  "settings": {
    "react": {
      "version": "detect"
    },
    "import/resolver": {
      "node": {
        "extensions": [
          ".js",
          ".jsx",
          ".ts",
          ".tsx"
        ]
      }
    }
  },
  "extends": [
    "airbnb",
    "airbnb/hooks",
    "plugin:react/recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "globals": {
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly"
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "plugins": [
    "react",
    "@typescript-eslint",
    "react-hooks"
  ],
  "ignorePatterns": [
    "webpack.config.js"
  ],
  "rules": {
    "no-shadow": "off",
    "consistent-return": "off",
    "react/jsx-props-no-spreading": "off",
    "@typescript-eslint/no-shadow": ["error"],
    "indent": [
      "error",
      2
    ],
    "linebreak-style": [
      "error",
      "unix"
    ],
    "quotes": [
      "error",
      "single"
    ],
    "semi": [
      "error",
      "always"
    ],
    "@typescript-eslint/no-explicit-any": [
      "off"
    ],
    "@typescript-eslint/no-var-requires": [
      "off"
    ],
    "@typescript-eslint/ban-ts-ignore": "off",
    "@typescript-eslint/ban-ts-comment": "off",
    "@typescript-eslint/no-unused-vars": [
      "off"
    ],
    "import/extensions": "off",
    "react/jsx-filename-extension": [2, { "extensions": [".js", ".jsx", ".ts", ".tsx"] }],
    "import/no-unresolved": "off",
    "implicit-arrow-linebreak": "off",
    "no-trail": "off",
    "no-trailing-spaces": "off",
    "react/prop-types": "off",
    "@typescript-eslint/explicit-function-return-type": ["error", {"allowExpressions": true}],
    "import/prefer-default-export": "off",
    "@typescript-eslint/interface-name-prefix": "off",
    "no-confusing-arrow": "off",
    "react/jsx-boolean-value": "off",
    "react/button-has-type": "off",
    "class-methods-use-this": "off",
    "@typescript-eslint/camelcase": "off",
    "no-useless-return": "off",
    "no-param-reassign": [
      2,
      {
        "props": false
      }
    ],
    "newline-after-var": [
      "error",
      "always"
    ],
    "newline-before-return": "error",
    "jsx-a11y/click-events-have-key-events": "off",
    "jsx-a11y/no-static-element-interactions": "off",
    "jsx-a11y/no-noninteractive-element-interactions": "off",
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "curly": [2, "all"],
    "camelcase": "off",
    "no-debugger": "warn",
    "react/display-name": "off",
    "lines-between-class-members": ["error", "always", { "exceptAfterSingleLine": true }],
    "@typescript-eslint/typedef": "error",
    "import/no-named-default": "off",
    "no-use-before-define": "off",
    "@typescript-eslint/no-use-before-define": ["error"]
  }
}
